---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { blogFetcher } from "../lib/BlogFetcher";
import "../styles/blog.scss";
import type { Article } from "../types/Article";
import ExternalLinkIcon from "../assets/external-link.svg";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const mySiteArticles: Article[] = (await Astro.glob("./blog/*.{md,mdx}")).map(
  (mySitePost) => {
    return {
      title: mySitePost.frontmatter.title,
      url: mySitePost.url,
      pubDate: mySitePost.frontmatter.pubDate,
      isMySite: true,
    };
  }
);
const myHatenaArticles = await blogFetcher(
  "https://komura-c.hatenablog.com/rss"
);
const companyHatenaArticles = await blogFetcher(
  "https://tech-blog.voicy.jp/rss/author/komura_c"
);
const myZennArticles = await blogFetcher("https://zenn.dev/komura_c/feed");
const myQiitaArticles = await blogFetcher("https://qiita.com/komura_c/feed");
const allPosts = [
  ...mySiteArticles,
  ...myHatenaArticles,
  ...companyHatenaArticles,
  ...myZennArticles,
  ...myQiitaArticles,
];
allPosts.sort(
  (a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead
      title={`${SITE_TITLE}/blog`}
      description="komura-cのブログです。"
    />
    <style lang="scss">
      .section {
        margin: 0 auto;
        max-width: 910px;
        padding: 8px 16px;
        ul {
          padding: 0;
          list-style-type: none;

          li {
            display: flex;
            margin: 8px 0;
          }

          time {
            flex: 0 0 130px;
            color: #595959;
          }

          a {
            &:visited {
              color: #8e32dc;
            }
          }
        }
      }
    </style>
  </head>
  <body>
    <BlogHeader />
    <main>
      <section class="section">
        <ul>
          {
            allPosts.map((post) => (
              <li>
                <time datetime={post.pubDate}>
                  {new Date(post.pubDate).toLocaleDateString("ja-jp", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
                {post.isMySite ? (
                  <a href={post.url}>{post.title}</a>
                ) : (
                  <a href={post.url} target="_blank" rel="noopener">
                    {post.title}
                    <img src={ExternalLinkIcon} alt="外部リンク" />
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
