---
import Layout from "../layouts/Layout.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../config";
import type { Article } from "../types/Article";
import ExternalLinkIcon from "../assets/external-link.svg";
import GoogleAnalytics from "../lib/GoogleAnalytics.astro";
import { Image } from "@astrojs/image/components";
import { getAllOuterPosts } from "../lib/GetAllOuterPosts";
import AstroLink from "../components/AstroLink.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const mySiteArticles: Article[] = (
  await Astro.glob("../pages/blog/*.{md,mdx}")
).map((mySitePost) => {
  return {
    title: mySitePost.frontmatter.title,
    url: mySitePost.url,
    pubDate: mySitePost.frontmatter.pubDate,
    isMySite: true,
  };
});
const outerPosts = await getAllOuterPosts();
const allPosts = [...mySiteArticles, ...outerPosts];
allPosts.sort(
  (a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf()
);
---

<Layout title={`${SITE_TITLE}/blog`} description="komura-cのブログです。">
  <BlogHeader />
  <main>
    <section class="section">
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <time datetime={post.pubDate}>
                {new Date(post.pubDate).toLocaleDateString("ja-jp", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
              {post.isMySite ? (
                <AstroLink href={post.url}>{post.title}</AstroLink>
              ) : (
                <a href={post.url} target="_blank" rel="noopener">
                  {post.title}
                  <Image
                    src={ExternalLinkIcon}
                    width={16}
                    aspectRatio="1:1"
                    alt="外部リンク"
                  />
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
  <GoogleAnalytics />
</Layout>

<style lang="scss">
  @use "../styles/mixins.scss" as mx;
  .section {
    margin: 0 auto;
    max-width: 910px;
    padding: 8px 16px;
    ul {
      padding: 0;
      list-style-type: none;

      li {
        display: flex;
        margin: 12px 0;
      }

      time {
        flex: 0 0 160px;
        color: #595959;
      }

      @include mx.sp {
        li {
          flex-direction: column;
        }
        time {
          flex: 1;
        }
      }

      a {
        &:visited {
          color: #8e32dc;
        }
      }
    }
  }
</style>
