---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import "../styles/blog.scss";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      .section {
        margin: 0 auto;
        max-width: 910px;
        padding: 8px 16px;
        ul {
          padding: 0;
          list-style-type: none;

          li {
            display: flex;
            margin: 8px 0;
          }

          time {
            flex: 0 0 130px;
            color: #595959;
          }

          a:visited {
            color: #8e32dc;
          }
        }
      }
    </style>
  </head>
  <body>
    <BlogHeader />
    <main>
      <section class="section">
        <ul>
          {
            posts.map((post) => (
              <li>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "ja-jp",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
                <a href={post.url}>{post.frontmatter.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
