---
import AstroLink from "./AstroLink.astro";
import { getAllOuterPosts } from "../lib/GetAllOuterPosts";
import type { Article } from "../types/Article";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
const mySiteArticles: Article[] = blogEntries.map(({ slug, data }) => {
  return {
    title: data.title,
    url: `/blog/${slug}`,
    pubDate: data.pubDate,
    isMySite: true,
  };
});
const outerPosts = await getAllOuterPosts();
const allPosts = [...mySiteArticles, ...outerPosts];
allPosts.sort(
  (a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf()
);
---

<div id="posts">
  <div class="container">
    <div class="heading">
      <h2 class="heading__title">Blog</h2>
    </div>
    <div class="posts">
      {
        allPosts.slice(0, 4).map((post) => (
          <>
            {post.isMySite ? (
              <AstroLink href={post.url} class="post-card">
                <h3 class="post-card__title">{post.title}</h3>
                <p class="post-card__date">
                  {new Date(post.pubDate).toLocaleDateString("ja-jp", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </p>
              </AstroLink>
            ) : (
              <a
                href={post.url}
                target="_blank"
                rel="noopener"
                class="post-card"
              >
                <h3 class="post-card__title">{post.title}</h3>
                <p class="post-card__date">
                  {new Date(post.pubDate).toLocaleDateString("ja-jp", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </p>
              </a>
            )}
          </>
        ))
      }
    </div>
    <div class="more">
      <AstroLink href="/blog" class="more__link">ブログ一覧へ</AstroLink>
    </div>
  </div>
</div>

<style lang="scss">
  @use "../styles/mixins.scss" as mx;

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .post-card {
    color: #333;
    background-color: #fff;
    box-shadow: 0 18px 45px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 48%;
    margin-bottom: 24px;
    padding: 24px;
    transition: 0.3s;
    @include mx.tab {
      width: 100%;
    }
    &:hover {
      box-shadow: 0 18px 45px 0 rgba(0, 0, 0, 0.24);
    }
    &__title {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 1.2px;
      margin-bottom: 12px;
    }
    &__date {
      font-size: 14px;
      letter-spacing: 1.2px;
    }
  }

  .more {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    &__link {
      color: #333;
      border-radius: 4px;
      border: 1px solid #757575;
      padding: 12px 24px;
      transition: 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
</style>
