---
import { Image } from "@astrojs/image/components";
import MusilImage from "../assets/musil.png";
import MusicWavesImage from "../assets/music-waves.jpg";

const productList = [
  {
    imgSrc: MusilImage,
    name: "MusiL",
    description: "DTMや作曲をしている人が気軽に記事を投稿できるサービス",
    tech: ["Angular", "Firebase", "Algolia", "Quill Editor"],
    URL: "https://musil.place/",
  },
  {
    imgSrc: MusicWavesImage,
    name: "Music Waves Visualizer",
    description: "画像と音楽を読み込んで波形動画を生成するサイト",
    tech: ["Web Audio API", "ffmpeg.wasm", "Next.js"],
    URL: "https://music-waves-visualizer.vercel.app/",
  },
];
---

<div id="products">
  <div class="container">
    <div class="heading">
      <h2 class="heading__title">Product</h2>
    </div>
    <div class="products">
      {
        productList.map((product) => (
          <a
            href={product.URL}
            target="_blank"
            rel="noopener noreferrer"
            class="product-card"
          >
            <Image
              src={product.imgSrc}
              width={866}
              aspectRatio="433:200"
              format="webp"
              class="product-card__img"
              alt={product.name}
              loading="lazy"
            />
            <h3 class="product-card__title">{product.name}</h3>
            <p class="product-card__description">{product.description}</p>
            <div class="product-card__tech-list">
              {product.tech.map((tech) => (
                <span class="product-card__tech-item">{tech}</span>
              ))}
            </div>
          </a>
        ))
      }
    </div>
  </div>
</div>

<style lang="scss">
  @import "../styles/mixins.scss";

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .product-card {
    color: #333;
    background-color: #fff;
    box-shadow: 0 18px 45px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 48%;
    max-width: 500px;
    margin: 0 auto 24px;
    padding: 16px;
    line-height: 1.5;
    transition: 0.3s;
    @include tab {
      width: 100%;
    }
    &:hover {
      box-shadow: 0 18px 45px 0 rgba(0, 0, 0, 0.24);
    }
    &__img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
      margin-bottom: 8px;
    }
    &__title {
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 1.2px;
      margin-bottom: 8px;
    }
    &__description {
      font-size: 16px;
      margin-bottom: 8px;
    }
    &__tech-list {
      display: flex;
    }
    &__tech-item + &__tech-item {
      margin-left: 8px;
    }
    &__tech-item {
      font-size: 12px;
      padding: 4px;
      border: 1px solid #757575;
      border-radius: 4px;
    }
    &__button {
      display: block;
      width: calc(100% + 32px);
      height: 40px;
      text-align: center;
      margin: 0 -16px -16px;
      color: #fff;
      background-color: #f4511e;
      padding: 8px;
      border-radius: 0 0 4px 4px;
      transition-duration: 0.3s;
      img {
        color: #fff;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
</style>
